.deleteButton {
  color: var(--mui-palette-error-main);
}
.addQuestionButton {
  padding: 0;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 24px;
  border: 1px dashed var(--mui-palette-divider);
  &:hover {
    background-color: var(--mui-palette-action-hover);
  }
}
.card {
  max-width: 1200px;
  background-color: var(--mui-palette-background-card);
  width: 100%;
  margin: auto;
  &.nameCard {
    margin-bottom: 24px;
  }
  &.questionsCard {
    margin-bottom: 16px;
  }
}
.cardTitle {
  margin-bottom: 16px;
}
.actionButtons {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: auto;
}
.cancelButton {
  background-color: var(--mui-palette-background-default);
}
