@use "../../mixins.scss" as *;
.deleteButton {
  color: var(--mui-palette-error-main);
}
.addQuestionButton {
  min-height: 50px;
  padding: 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px dashed var(--mui-palette-divider);
  &:hover {
    background-color: var(--mui-palette-action-hover);
  }
}
.card {
  max-width: 1200px;
  background-color: var(--mui-palette-background-card);
  width: 100%;
  margin: auto;
  &.nameCard {
    margin-bottom: 24px;
  }
  &.questionsCard {
    margin-bottom: 16px;
  }
}
.cardTitle {
  margin-bottom: 16px;
  .nameCard & {
    width: fit-content;
    margin: 0px auto 16px;
  }
}
.addButtons {
  flex-direction: column;
  margin-bottom: 24px;
  > .addQuestionButton {
    width: 100%;
  }
  @include tablet {
    flex-direction: row;
    > .addQuestionButton {
      width: 50%;
    }
  }
}
.actionButtons {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: auto;
}
.cancelButton {
  background-color: var(--mui-palette-background-default);
  max-width: 120px;
}
