@use "../../theme-vars.scss" as theme;
.overview {
  position: relative;
  padding-top: 25px;
}
.fabButton {
  z-index: 100;
  position: fixed;
  bottom: 40px;
  right: 35px;
  background-color: theme.$primary;
  color: theme.$primary-contrastText;
  box-shadow: theme.$shadow-sm;
  &:hover {
    background-color: theme.$primary-dark;
    box-shadow: theme.$shadow-md;
  }
}
