@use "../../theme-vars.scss" as theme;
.cardContainer {
  max-width: 1200px;
  width: 100%;
  padding: 16px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: theme.$radius;
  background-color: theme.$bg-card;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  &:hover {
    transform: translateY(-2px);

    box-shadow: theme.$shadow-md;
    border-color: theme.$primary;
  }
}

.title {
  color: theme.$text-primary;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playActionButton {
  color: theme.$success;
}
.editActionButton {
  color: theme.$primary;
}
.deleteActionButton {
  color: theme.$error;
}
