$primary: var(--mui-palette-primary-main);
$primary-contrastText: var(--mui-palette-primary-contrastText);
$primary-dark: var(--mui-palette-primary-dark);

$secondary: var(--mui-palette-secondary-main);
$secondary-contrastText: var(--mui-palette-secondary-contrastText);

$success: var(--mui-palette-success-main);
$error: var(--mui-palette-error-main);

$bg-default: var(--mui-palette-background-default);
$bg-paper: var(--mui-palette-background-paper);
$bg-card: var(--mui-palette-background-card);
$bg-button: var(--mui-palette-background-button);

$bg-dark: var(--mui-palette-background-dark);
$text-primary: var(--mui-palette-text-primary);
$text-white: var(--mui-palette-text-white);

$divider: var(--mui-palette-divider);

$radius: var(--mui-shape-borderRadius);

$action-hover: var(--mui-palette-action-hover);

$shadow-md: var(--mui-shadows-4);
$shadow-sm: var(--mui-shadows-1);
