@use "./_mixins.scss" as *;
@use "./_theme-vars.scss" as theme;

.contentPaper {
  margin: 12px;
  padding: 25px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  border-radius: theme.$radius;
  @include tablet {
    margin: 25px;
    padding: 50px;
  }
}

.cancelButton {
  background-color: theme.$bg-default;
}

.roundActionButton {
  background-color: theme.$bg-button;
  transition:
    background-color 0.2s,
    transform 0.1s;
  &:hover {
    box-shadow: theme.$shadow-md;
  }
  &:active {
    transform: scale(0.95);
  }
}
