@use "./_mixins.scss" as *;
.contentPaper {
  margin: 12px;
  padding: 25px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  border-radius: var(--mui-shape-borderRadius);
  @include tablet {
    margin: 25px;
    padding: 50px;
  }
}
.cancelButton {
  background-color: var(--mui-palette-background-default);
}
.roundActionButton {
  background-color: var(--mui-palette-background-button);
  transition: background-color 0.2s, transform 0.1s;
  &:hover {
    box-shadow: var(--mui-shadows-4);
  }
  &:active {
    transform: scale(0.95);
  }
}
